.git
.gitignore
.DS_Store
node_modules
npm-debug.log
package-lock.json
yarn.lock
npm-shrinkwrap.json
yarn-debug.log
yarn-error.log
.vscode
.idea
test
package.json
Dockerfile
.dockerignore
vercel.json
__pycache__
*.pyc
